/* red-hat-text-regular - latin */

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/red-hat-text-v18-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-hat-text-600 - latin */

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/red-hat-text-v18-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-hat-text-700 - latin */

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/red-hat-text-v18-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Colors */
  --color-red: #c73b0f;
  --color-rose-900: #2f0f08;
  --color-rose-500: #97635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caa7a7;
  --color-rose-100: #f5ecec;
  --color-rose-50: #fcf8f6;
  --color-green: #1ea575;
  --color-black: #000000;
  --color-white: #ffffff;
  /* Typography */
  --font-primary: "Red Hat Text", sans-serif;
  --text-preset-1-size: 56px;
  --text-preset-1-line-height: 120%;
  --text-preset-2-size: 24px;
  --text-preset-2-line-height: 132%;
  --text-preset-3-size: 18px;
  --text-preset-3-line-height: 150%;
  --text-preset-4-size: 14px;
  --text-preset-4-line-height: 150%;
  /* Spacing */
  --spacing-1100: 88px;
  --spacing-800: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 10px;
  --spacing-80: 8px;
  --spacing-50: 4px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-rose-50);
}

main {
  padding-top: 88px;
  padding-bottom: 88px;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

img {
  object-fit: cover;
  display: flex;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1276px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 66% calc(33% - 16px);
  gap: 32px;
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 100%;
  }
}

.main-title {
  margin-bottom: 32px;
  font-size: var(--text-preset-1-size);
  line-height: var(--text-preset-1-line-height);
}

.add-to-cart {
  width: 100%;
  max-width: 160px;
  background-color: var(--color-white);
  color: var(--color-rose-900);
  font-size: var(--text-preset-4-size);
  line-height: var(--text-preset-4-line-height);
  font-weight: 600;
  border-radius: 999px;
  padding: 12px 8px;
  border: 1px solid var(--color-rose-400);
  transition: all 0.3s;
  &:hover {
    border-color: var(--color-red);
    color: var(--color-red);
  }
}

.add-to-cart-inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.increment-decrement-btns {
  width: 100%;
  max-width: 160px;
  background-color: var(--color-red);
  border-radius: 999px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-red);
}

.amount-change-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  width: 20px;
  height: 20px;
  transition: all 0.3s;
  svg path {
    transition: all 0.3s;
  }
}

.amount-change-btn:hover span {
  background-color: var(--color-white);
  svg path {
    fill: var(--color-red);
  }
}

.amount {
  color: var(--color-white);
  font-size: var(--text-preset-4-size);
  line-height: var(--text-preset-4-line-height);
  font-weight: 600;
}

.desserts-list {
  display: grid;
  row-gap: 32px;
  column-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(250.67px, 1fr));
  width: 100%;
  max-width: 800px;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -23.3px;
  margin-bottom: 16px;
}

.cart-info-category {
  font-size: var(--text-preset-4-size);
  color: var(--color-rose-500);
  line-height: var(--text-preset-4-line-height);
  font-weight: normal;
}

.cart-info-name {
  font-size: var(--text-size-height-3);
  line-height: var(--text-line-height-3);
  color: var(--color-rose-900);
  font-weight: 600;
}

.cart-info-price {
  font-size: var(--text-size-height-3);
  line-height: var(--text-line-height-3);
  color: var(--color-red);
  font-weight: 600;
}

.orders-container {
  background-color: var(--color-white);
  padding: var(--spacing-300);
  border-radius: var(--spacing-150);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-300);
}

.orders-heading {
  color: var(--color-red);
  font-size: var(--text-preset-2-size);
  line-height: var(--text-preset-2-line-height);
  font-weight: 700;
  margin-right: auto;
}

.orders-text {
  color: var(--color-rose-500);
  font-weight: 600;
  font-size: var(--text-preset-4-size);
}
